[package]
name = "rquickjs"
version = "0.0.5"
authors = ["Mees Delzenne <mees.delzenne@gmail.com>"]
edition = "2018"
license = "MIT"
readme = "README.md"
description = "High level bindings to the quickjs javascript engine"
repository = "https://github.com/DelSkayn/rquickjs.git"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rquickjs-sys = { version = "0.0.4", path = "./rquickjs-sys/" }
quick-error = "1.2.3"
libc = "0.2.67"
fxhash = "0.2.1"

[dependencies.tokio-rs]
package = "tokio"
version = "^0.3"
optional = true
default-features = false
features = ["rt"]

[dependencies.async-std-rs]
package = "async-std"
version = "^1.7"
optional = true
default-features = false
features = ["default", "unstable"]

[workspace]
members = [
    "./rquickjs-sys"
]

[features]
default = ["exports"]
bindgen = ["rquickjs-sys/bindgen"]
parallel = ["rquickjs-sys/parallel"]
exports = ["rquickjs-sys/exports"]
futures = []
tokio = ["futures", "tokio-rs"]
async-std = ["futures", "async-std-rs"]
compile-tests = []

[dev-dependencies]
trybuild = "1.0.23"
