---
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 100
AccessModifierOffset: -4
BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
